.header{
  text-align: center;
  background: #44D0B4;
  padding: 15px 0;
}
.header span{
  display: inline-block;
  line-height: 32px;
  padding: 0 16px;
  /*box-sizing: content-box;*/
  /*-webkit-box-sizing: content-box;*/
}
.header span:first-child{
  border-radius: 32px 0 0 32px;
  border: 1px solid #fff;
  color: #fff;
}
.header span:last-child{
  border-radius: 0 32px 32px 0;
  border: 1px solid #fff;
  color: #fff;
}
.active{
  color: #44D0B4 !important;
  background: #FFFFFF !important;
  padding: 1px 17px !important;
  border: none !important;
}
.list{
  position: relative;
  margin-left: 12px;
  padding: 12px 0;
  border-bottom: 1px solid #EDEDED;
}
.list p:first-child{
  color: #333333;
  font-size: 16px;
  /*font-weight: 600;*/
}
.list p:not(:first-child){
  padding-top: 10px;
  color: #999999;
}
.list img{
  height: 20px;
  vertical-align: text-bottom;
  margin-right: 6px;
}
.right{
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #60CBB0;
}
.right:after{
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  border-top: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
  transform: rotate(45deg);
}
.none{
  display: none;
}
