  .paycode_box{
  width: 240px;
  height: 40px;
  margin: 0 auto;
}
.paycode_box > input{
  width: 40px;
  float: left;
}
.password_box input[type="tel"]{
  height: 40px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: -21px;
  right:0;
  bottom: 0;
  margin: auto;
  width:222px;
  opacity: 0;
  letter-spacing:32px;
  color: transparent;
  font-size:22px;
}